.hero-image-cstm {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

